<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<nav class="navbar">
		<div class="container-fluid">
			<i class="fa-solid fa-wallet fa-2xl" style="color: #ffffff;"></i>
			<span class="navbar-brand mb-0 h1 titulo">Mi Chaucherita</span>
			<span class="navbar-brand mb-0 h3 titulo">Usuario logeado: ${sessionScope.usuarioLogeado.getUsuario()}</span>
			<span class="navbar-brand mb-0 h3"><a class="text-decoration-none text-white"
					href="LoginController?ruta=salir">Salir</a></span>
		</div>
	</nav>

</body>

</html>